body{
    background-color: #ffffff;
}

#encabezado{
    width: 100%;
    text-align: center;
}
#encabezado img{
    width: 80%;
}

#cuerpo{
    width: inherit;
    margin-bottom:10px;
    margin-right:10px;
    margin-top: -20px;
    padding-left:15px;
    text-align: center;
}

#cuerpo img{
    position: relative;
    margin-right: 30px;
    margin-top: 40px;
    float: left;
    width: 20%;
}

#cuerpo table{
    font-size: 15px;
}

#menu{
    width:15%;
    float:left;
    margin-top: 20px;
}

a:link{
    color: #0000FF;
}

a:visited{
    color: #006600;
}

a:hover{
    color: #FFFFFF;
}

table{
    width: 75%;
    margin: 0px 10px 0px 10px;
    text-align: center;
    font-size: 25px;
}

table, th, td{
    border-top-color: #B26B24;
    border-left-color: #B26B24;
    border-right-color: #B26B24;
    border-bottom-color: #732615;
}

button{
    border-top: 1px solid #704b2e;
   background: #57d966;
   background: -webkit-gradient(linear, left top, left bottom, from(#369c14), to(#57d966));
   background: -webkit-linear-gradient(top, #369c14, #57d966);
   background: -moz-linear-gradient(top, #369c14, #57d966);
   background: -ms-linear-gradient(top, #369c14, #57d966);
   background: -o-linear-gradient(top, #369c14, #57d966);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 80%;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin: 5px 0px 5px 5px;
    position:relative;
    float:left;
    width: 45%;
    padding: 5px 0px 5px 0px;
}
button:hover {
       border-top-color: #ad365d;
   background: #ad365d;
   color: #ccc;
    cursor: pointer;
    box-shadow: 5px 5px 5px #888888;
    text-shadow: 2px 2px 3px #000000;
}
button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.boton {
    border-top: 1px solid #704b2e;
   background: #57d966;
   background: -webkit-gradient(linear, left top, left bottom, from(#369c14), to(#57d966));
   background: -webkit-linear-gradient(top, #369c14, #57d966);
   background: -moz-linear-gradient(top, #369c14, #57d966);
   background: -ms-linear-gradient(top, #369c14, #57d966);
   background: -o-linear-gradient(top, #369c14, #57d966);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 80%;
    text-align: center;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    margin: 5px 0px 5px 5px;
    width: 10%;
    padding: 5px 0px 5px 0px;
}
.boton:hover {
       border-top-color: #ad365d;
   background: #ad365d;
   color: #ccc;
    cursor: pointer;
    box-shadow: 5px 5px 5px #888888;
    text-shadow: 2px 2px 3px #000000;
}
.boton:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

#div_menu{
    width: 100%;
}

ul#menu li img{
    margin-left: 5%;
    width: 70%;
}

ul#menu {
    width: 100%;
    list-style: none;
}

ul#menu li.item {

    float:left;
    border-top: 1px solid #704b2e;
   background: #57d966;
   background: -webkit-gradient(linear, left top, left bottom, from(#369c14), to(#57d966));
   background: -webkit-linear-gradient(top, #369c14, #57d966);
   background: -moz-linear-gradient(top, #369c14, #57d966);
   background: -ms-linear-gradient(top, #369c14, #57d966);
   background: -o-linear-gradient(top, #369c14, #57d966);
    padding: 10.5px 21px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 18px;
    font-family: Georgia, serif;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 20px;
    list-style:none;
    float:left;
    position: relative;
    padding: 5px;
    width: 150px;
    height: 60px;
    text-align: center;
}

ul#menu li.item:hover {
     border-top-color: #ad365d;
   background: #ad365d;
   color: #ccc;
}

ul#menu li.item a {
    text-decoration: none;
    color: white;
}